body{
  margin:0;
  padding:0;
}


header{
  width:100vw;
  background-image: url(./assets/chevron.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height:20vh;
  padding: 10px;
}
footer{
  background-color: aqua;
}
