body{
  margin:0;
  padding:0;
}


header{
  width:100vw;
  background-image: url(./assets/chevron.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height:20vh;
  padding: 10px;
}

ul .nav-link:hover {
  /* color: #b8ccd2; */
  font-weight: bold;
  
}

.navbar-nav .nav-item .nav-link:hover {
  background-color: #9be5e5;
  transition: background-color 2s ease;
  border-radius: 15px;
}

main{
  display: flex;
  justify-content: center;
  height: 90vh;
}

.about{
  max-height:30vh;
}

.about img{
  width:10vw;
  height:10vw;
  border-radius: 50%;
  border:2px black double;
  margin-right: 3vw;
}
.about p{
  width:60vw;
}

.contact-section {
  
  width: 80vw;
}
.about, .portfolio, .contact-section{
  margin-top: 5vh;
}

footer{
  background-color: #b8ccd2;
  padding: 5px;
}

